@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


body {
    background-image: url('./assets/backgroung.JPG');
    background-size: cover;        
    background-position: center;   
    background-attachment: fixed;  
    margin: 0;                     
    height: 100vh;                 
    width: 100%;    
    overflow-x: hidden;
}
  
 .background-container {
    position: relative;           
  }
  

body {
  font-family: 'Domine', serif;
}
 
@media screen and (max-width: 480px) {
 
  .create{
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 780px) {
 .page2{
  height: fit-content;
  padding-bottom: 20vw;
  
 }

 .c1{
  top: 77%;
 }
  .create{
    font-size: 3.5vw;
  }
  .down{
    font-size: 2.5vw;
  }

  .Strategic{
    padding-top: 20vw;
    font-size: 6vw;
  }
  .vision{
    margin-bottom: 15vw;
  }
  .Unlock{
    font-size: 3.5vw;
  }
}