@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

@import "tailwindcss";
body{
  font-family: 'Domine", serif';
}

/* @font-face {
  font-family: '';
  src: url('./assets/fonts/MyCustomFont2.woff2') format('woff2'),
       url('./assets/fonts/MyCustomFont2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */